<style type="text/css">
    .col-md-2 {
        background-color: #34495e;
        color: white;
        line-height: 4em;
        border: 1px solid white;
        height: 4em;
    }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-3"><h3>合同会社ライト</h3>light the unknown</div>
    <div class="col-md-2">NEWS</div>
    <div class="col-md-2">ABOUT</div>
    <div class="col-md-2">SERVICE</div>
    <div class="col-md-2">CONTACT</div>
  </div>

</div>

